@charset "utf-8";
html,body{
    height:100%;
    width:auto;
    margin:0;
}
h1{
    color: white;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #6c9bd2;/*上線*/
    border-bottom: solid 3px #6c9bd2;/*下線*/
    height:10%;
    margin:2% auto;
    font-size:1em;
}
.turnBoxButton {
    line-height: 2.5;
    display: block;
    text-align: center;
}
#music.turnBoxCurrentFace1 > .turnBoxFaceNum1 {
    background: #f8f8ff;
}
#music.turnBoxCurrentFace2 > .turnBoxFaceNum2 {
    background:#00ff7f;
}

.turnBoxFaceNum1 {
    background: silver;
}
.turnBoxFaceNum2 {
    background: gray;
}
div#container{
    margin-left:2%;
    margin-right:2%;
    height:40%;
}
div#camera{
    background:white;
    height:40%;
    width:auto;
    margin:2% auto;
}
div#music{
    margin:2% auto;
    width:50%;
}
div#up{
    margin:0% auto;
    width:30%;
}
div#right{
    margin:0% auto;
    float: right;
    width:30%;
}
div#left{
    margin:0% auto;
    float: left;
    width:30%;
}
div#down{
    margin:0% auto;
    width:30%;
    clear:both;
}