<!doctype html>
<html>
<head>
  <title>Control</title>
</head>
<body>
  Authentication succeeded: user logged in: {{ user }}<br>
<a href="/driver/forward">Forward</a>
<a href="/driver/backward">Backward</a>
<a href="/driver/left">Left</a>
<a href="/driver/right">Right</a>
<a href="/driver/stop">Stop</a>
<a href="/logout">Logout</a>
</body>
</html>
