<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/design.css">
  <script src="/assets/control.js"></script>
  <script src="assets/bundle.js"></script>
  <title>BlueBerryPi</title>
</head>

<body>
  <header>
    <h1>
      ブルーベリーパイ
      <!-- Authentication succeeded: user logged in: {{ user }} -->
    </h1>
  </header>
  <div id="camera">
    dummy
  </div>
  <div id="container">
    <div id="up">
      <div id="up-front">
        <p class="turnBoxButton">Forward</p>
      </div>
      <div>
        <p class="turnBoxButton">Pressed</p>
      </div>
    </div>
    <div id="left">
      <div id="left-front">
        <p class="turnBoxButton">Left</p>
      </div>
      <div>
        <p class="turnBoxButton">Pressed</p>
      </div>
    </div>
    <div id="right">
      <div id="right-front">
        <p class="turnBoxButton">Right</p>
      </div>
      <div>
        <p class="turnBoxButton">Pressed</p>
      </div>
    </div>
    <div id="down">
      <div id="down-front">
        <p class="turnBoxButton">Back</p>
      </div>
      <div>
        <p class="turnBoxButton">Pressed</p>
      </div>
    </div>
  </div>
  <script>
    var forward_audio = new Audio("assets/oisho.mp3");
    forward_audio.loop = true;
    //var right_audio = new Audio("assets/.mp3");
    //right_audio.loop = true;
    //var left_audio = new Audio("assets/.mp3");
    //left_audio.loop = true;
    var backward_audio = new Audio("assets/oisho_rev.mp3");
    backward_audio.loop = true;
    $("#up").turnBox({
      duration: 50,
      perspective: 400,
      direction: "negative"
    });
    $("#left").turnBox({
      duration: 50,
      axis: "Y",
    });
    $("#right").turnBox({
      duration: 50,
      axis: "Y",
      direction: "negative"
    });
    $("#down").turnBox({
      duration: 50,
      direction: "positive"
    });
    var u = document.getElementById("up");
    var r = document.getElementById("right");
    var l = document.getElementById("left");
    var d = document.getElementById("down");
    function downUp(e) {//upButton keydown
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 2,
        animation: true
      });
      forward_audio.play();
      req("forward");
    }
    function upUp(e) {//upButton keyup
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 1,
        animation: true
      });
      forward_audio.pause();
      forward_audio.currentTime=0;
      req("stop");
    }
    function downRight(e) {//rightButton keydown
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 2,
        animation: true
      });
      //right_audio.play();
      req("right");
    }
    function upRight(e) {//rightButton keyup
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 1,
        animation: true
      });
      //right_audio.pause();
      //right_audio.currentTime=0;
      req("stop");
    }
    function downLeft(e) {//leftButton keydown
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 2,
        animation: true
      });
      //left_audio.play();
      req("left");
    }
    function upLeft(e) {//leftButton keyup
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 1,
        animation: true
      });
      //left_audio.pause();
      //left_audio.currentTime=0;
      req("stop");
    }
    function downDown(e) {//downButton keydown
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 2,
        animation: true
      });
      backward_audio.play();
      req("backward");
    }
    function upDown(e) {//upButton keyup
      e.preventDefault();
      $(this).turnBoxAnimate({
        face: 1,
        animation: true
      });
      backward_audio.pause();
      backward_audio.currentTime=0;
      req("stop");
    }
    if (u.addEventListener) {
      u.addEventListener("mousedown", downUp);
      u.addEventListener("mouseup", upUp);
      u.addEventListener("touchstart", downUp);
      u.addEventListener("touchend", upUp);
    }
    if (r.addEventListener) {
      r.addEventListener("mousedown", downRight);
      r.addEventListener("mouseup", upRight);
      r.addEventListener("touchstart", downRight);
      r.addEventListener("touchend", upRight);
    }
    if (l.addEventListener) {
      l.addEventListener("mousedown", downLeft);
      l.addEventListener("mouseup", upLeft);
      l.addEventListener("touchstart", downLeft);
      l.addEventListener("touchend", upLeft);
    }
    if (d.addEventListener) {
      d.addEventListener("mousedown", downDown);
      d.addEventListener("mouseup", upDown);
      d.addEventListener("touchstart", downDown);
      d.addEventListener("touchend", upDown);
    }
  </script>
</body>

</html>